.photos {
	float: left;
	padding: 10px;
	background-color: white;
	margin: 30px;
	box-shadow: 0px 0px 20px black;
	/*box-shadow: 0px 0px 20px black;//正右下负左上,5宽度*/
	/*box-shadow: 0px -5px 5px red,5px 0px 5px green,0px 5px 5px yellow,-5px 0px 5px blue;彩色*/
	border-radius:5px ;/*圆角*/
	/*transform: rotate(5deg);旋转*/
	transition: transform 0.3s linear;/*transform线性过度*/
	position: relative;
	overflow: hidden;
	
}
.photos:nth-child(1){
	transform: rotate(5deg);
}
.photos:nth-child(3){
	transform: rotate(-5deg);
}
/*.photos:nth-child(2n){
	transform: rotate(-5deg);
}
.photos:nth-child(even){奇数
	transform: rotate(-5deg);
}
.photos:nth-child(odd){偶数
	transform: rotate(-5deg);
}*/
.photos:hover{/*放大1.2倍*/
	transform: scale(1.2) rotate(-5deg);
	/*transform: scaleX(1.2);*/
}
.photos:hover p{
	
	/*display: block;*/
	bottom: 0px;
}
.photos img {
	height: 150px;
	display: block;
}

.photos p {
	background-color: green;
	width: 100%;
	margin: 0px;
	text-align: center;
	font-family: "微软雅黑";
	position: absolute;
	height: 30px;
	bottom: -30px;
	left:0px;
	font-size: 18px;
	opacity: 0.7;/*透明度*/
	transition: all 0.3s linear;
	/*position: fixed;绝对浮动定位*/
}

body {
	background-image: url(../img/bg3.JPG);
}